<!doctype html>
<html>
<head> 

</head>
 
<body class="enterDataPlayer">

  <div class="item">
    <img src="/FrontendForChessGame/src/assets/startItems.jpg">
  </div>

  <form>   

    <div class="enterName">        
      <input type="text" id="nickname" name="nickname" placeholder="Enter your nickname">
    </div>

    <div class="colorSelection">
      <button type="button" class="button">WHITE</button>
      <button type="button" class="button">BLECK</button>
      <button type="button" class="button">RANDOM COLOR</button>
    </div>

    <div class="startGame">
      <button type="submit">START GAME</button>
    </div>

  </form>  

</body>
</html>