<div class="chessBoard">
    <div class="wrapper">
        <div class="top">
            <div class="wrapper-inner">
                <div class="box-inner">A</div>
                <div class="box-inner">B</div>
                <div class="box-inner">C</div>
                <div class="box-inner">D</div>
                <div class="box-inner">E</div>
                <div class="box-inner">F</div>
                <div class="box-inner">G</div>
                <div class="box-inner">H</div>
            </div>
        </div>
        
        
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        

        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>

        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>

        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>

        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>

        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>

        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>

        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="bottom">
            <div class="wrapper-inner">
                <div class="box-inner">A</div>
                <div class="box-inner">B</div>
                <div class="box-inner">C</div>
                <div class="box-inner">D</div>
                <div class="box-inner">E</div>
                <div class="box-inner">F</div>
                <div class="box-inner">G</div>
                <div class="box-inner">H</div>
            </div>
        </div>

    </div>

    <div class="side" >
        <div class="wrapper-side">
            <div class="box-side">1</div>
            <div class="box-side">2</div>
            <div class="box-side">3</div>
            <div class="box-side">4</div>
            <div class="box-side">5</div>
            <div class="box-side">6</div>
            <div class="box-side">7</div>
            <div class="box-side">8</div>
        </div>
    </div>
</div>